* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  max-width: 1440px;
  width: 100%;
  height: 76px;
  margin: auto;
  padding: 11px 76px;
  gap: 10px;
}
header {
  max-width: 1241px;
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    cursor: pointer;
  }
  nav {
    max-width: 537px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  ul {
    max-width: 400px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 10px;
    a {
      text-decoration: none;
      color: #000000;
      transition: 0.2s;
      font-size: 16px;
      font-weight: 600;
      font-family: "Roboto", sans-serif;
    }
    a:hover {
      opacity: 0.6;
    }
    img {
      width: 20px;
      height: 20px;
    }
    :nth-child(2) {
      display: flex;
      align-items: center;
      gap: 2px;
    }
  }
}
.navright {
  max-width: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background-color: transparent;
    border-style: none;
  }
}
/* ჰედერის დასასრული */
.main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
  .main-photo {
    max-width: 1046px;
    width: 100%;
    margin: 0 auto;
  }
}
.main-photo {
  img {
    max-width: 1044px;
    width: 100%;
    height: 801px;
  }
}
/* მეინის დასასრული */
.about-main2 {
  max-width: 1440px;
  width: 100%;
  padding: 40px 80px;
  background-color: rgba(92, 99, 203, 0.2);
  /* margin: 0 auto; */
  /* margin-top: 50px; */
  div {
    max-width: 816px;
    width: 100%;
    margin: 0 auto;
  }
}
.about-main2-txt {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: rgba(92, 92, 92, 1);
  font-family: "Roboto", sans-serif;
}
/* მეინის მეორე ნაწილის დასასრული */
footer {
  width: 100%;
  background-color: #f1e6e5;
  padding: 52px 28px;
  margin-top: 50px;
  .footer {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    gap: 100px;
    .list {
      max-width: 631px;
      width: 100%;
      ul {
        max-width: 451px;
        width: 100%;
        height: 168px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        li {
          font-size: 18px;
          font-weight: 600;
          line-height: 21px;
          color: #5c5c5c;
          list-style-type: none;
          font-family: "Roboto", sans-serif;
          cursor: pointer;
        }
      }
    }
  }
  .logoicons {
    width: 287px;
    height: 180px;
    text-align: center;
    img {
      cursor: pointer;
    }
    h6 {
      font-size: 17px;
      font-weight: 300;
      line-height: 20px;
      color: #5c5c5c;
    }
    div {
      width: 124px;
      height: 28px;
      margin: 5px auto;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      :last-child {
        width: 28px;
        height: 28px;
      }
      img {
        cursor: pointer;
      }
    }
  }
}

/* responsive */
@media only screen and (max-width: 992px) {
  nav {
    gap: 20px !important;
  }
  .express {
    h1 {
      font-size: 33px;
      line-height: 50px;
    }
  }
  .main2 {
    .img3 {
      flex-direction: column;
      align-items: center;
      div {
        max-width: 420px;
      }
    }
    .img3-btn {
      button {
        max-width: 420px;
      }
    }
  }

  .main2 {
    padding: 83px 0px 10px 0;
    margin: 0px auto;
  }
  .main3 {
    flex-direction: column;
    gap: 20px;
    .photoicon {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
  .main3 {
    .txt {
      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      h1 {
        font-size: 30px;
        line-height: 48px;
        height: 100%;
      }
      button {
        margin-top: 0;
      }
    }
  }
  .about-main2-txt {
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .main-photo {
    img {
      height: 750px;
    }
  }
  .about-main2-txt {
    font-size: 17px;
  }
}
